@import 'https://fonts.googleapis.com/css?family=Roboto:100,300,400';

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  margin: 0;
}

h1 {
  line-height: 46px;
}

.offset-container {
  margin-top: -95px;

  @media (min-width: 1200px) {
    margin-top: -210px;
  }
}

@import 'header'; // Top blue header
@import 'utilityNav';
@import 'mainNav';
@import 'search';
@import 'map';
@import 'mainContent';
