@import 'https://fonts.googleapis.com/css?family=Roboto:100,300,400';

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
  margin: 0;
}

h1 {
  line-height: 46px;
}

@import 'header'; // Top blue header
@import 'utilityNav';
@import 'mainNav';
@import 'search';


.offset-container {
  margin-top: -95px;

  @media (min-width: 1200px) {
    margin-top: -210px;
  }
}

.map-container {
  background-color: #fff;
  margin-top: 40px;

  .items {
    padding: 30px 20px;
  }
}
