@import 'https://fonts.googleapis.com/css?family=Roboto:100,300,400';

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  position: relative;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
  margin: 0;
}

h1 {
  line-height: 46px;
}

.offset-container {
  margin-top: -95px;

  @media (min-width: 1200px) {
    margin-top: -210px;
  }
}

.app-nav__back {
  background: url('/images/back-arrow.svg') no-repeat left 0;
  background-size: 40%;
  cursor: pointer;
  display: inline-block;
  left: 0;
  position: absolute;
  top: 275px;

  &:hover {
    text-decoration: none;
  }

  span {
    color: #bcbbbb;
    font-size: 1.2rem;
    padding-left: 25px;
    vertical-align: top;
  }
}

@import 'header'; // Top blue header
@import 'utilityNav';
@import 'mainNav';
@import 'search';
@import 'map';
@import 'mainContent';
